.project{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    .details{
        border-right: 2px solid grey;
        padding-right: 30px;
        width: 500px;
        .cntr{
            display: flex;
            align-items: center;
        }
        .cntr img{
            width: 30%;
            margin-right: 30px;
        }
        .contributors{
            margin: 30px auto;
            display: flex;
            justify-content: end;
        }
        .boxes{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 20px;
            a{
                width: calc(50% - 15px);
            }
            .box{
                width: 100%;
                height: 100px;
                border-radius: 10px;
                margin: 10px 0px;
                background-image: linear-gradient(90deg, rgb(46, 15, 219),rgb(106, 92, 184));
                display: flex;
                align-items: center;
                padding: 0;
                color: white;
                img{
                    width: 20%;
                    margin: auto 10px auto 20px;
                }
                p, h3{
                    margin: 5px;
                }
                p{
                    color: rgba(255, 255, 255, 0.603);
                    font-size: 15px;
                }
            }
            a:nth-child(1) .box{background-image: linear-gradient(90deg, rgb(168, 129, 0),rgb(189, 170, 88));}
            a:nth-child(3) .box{background-image: linear-gradient(90deg, rgb(168, 0, 140),rgb(172, 88, 189));}
            a:nth-child(4) .box{background-image: linear-gradient(90deg, rgb(168, 0, 8),rgb(189, 88, 88));}
            a:nth-child(5) .box{background-image: linear-gradient(90deg, rgb(23, 21, 41),rgb(65, 69, 82));}
            a:nth-child(6) .box{background-image: linear-gradient(90deg, rgb(20, 168, 0),rgb(91, 189, 88));}
        }
    }
    .progress{
        width: calc(100% - 600px);
        /* background-color: red; */
        .cntr{
            display: flex;
            justify-content: space-between;
            .icons{
                margin-top: 10px;
            }
        }
        table{
            width: 100%;
            tbody tr{
                height: 50px;
            }
            tbody tr td:nth-child(2){
                width: 300px;
                text-align: right;
                span{
                    margin-top: 2px;
                }
            }
            tbody tr td:nth-child(3){
                width: 60px;
                text-align: right;
            }
        }
        .css-7o8aqz-MuiSlider-rail{
            height: 27px;
            border-radius: 14px;
        }
        .css-ttgsjq-MuiSlider-track{
            height: 27px;
            border-radius: 14px;
        }
        .css-cp2j25-MuiSlider-thumb{
            width: 0px;
        }
    }
}