.project_container {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .project {
        width: 23%;
        min-width: 250px;
        /* aspect-ratio: 1; */
        /* background-image: linear-gradient(135deg, rgb(150, 0, 150), rgb(75, 0, 75)); */
        margin: 10px;
        border-radius: 20px;

        .project_name {
            margin: 30px;
            display: flex;
            align-items: center;

            img {
                width: 30%;
            }

            h3 {
                margin: 0 0 0 20px;
                color: white;
            }
        }

        .project_details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            margin: 0 30px 30px;
            padding-top: 10px;
        }
    }

    .project:nth-last-child(8n-7) {
        background-image: linear-gradient(135deg, rgb(168, 0, 140), rgb(172, 88, 189));
    }

    .project:nth-last-child(8n-6) {
        background-image: linear-gradient(135deg, rgb(168, 0, 8), rgb(189, 88, 88));
    }

    .project:nth-last-child(8n-5) {
        background-image: linear-gradient(135deg, rgb(23, 21, 41), rgb(65, 69, 82));
    }

    .project:nth-last-child(8n-4) {
        background-image: linear-gradient(135deg, rgb(20, 168, 0), rgb(91, 189, 88));
    }

    .project:nth-last-child(8n-3) {
        background-image: linear-gradient(135deg, rgb(46, 15, 219), rgb(106, 92, 184));
    }

    .project:nth-last-child(8n-2) {
        background-image: linear-gradient(135deg, rgb(102, 102, 102), rgb(153, 153, 153));
    }

    .project:nth-last-child(8n-1) {
        background-image: linear-gradient(135deg, rgb(0, 157, 168), rgb(88, 189, 184));
    }

    .project:nth-last-child(8n) {
        background-image: linear-gradient(135deg, rgb(168, 129, 0), rgb(189, 170, 88));
    }
}

.dashboard-btns{
    display: flex;
    justify-content: end;
    margin: 20px 70px;
}
.addProject {
    padding: 5px 20px !important;
    margin: 10px !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
}
.addProject:nth-child(1){ background-color: brown; color: white; }
.addProject:nth-child(2){ background-color: green; color: white; }
.addProject:nth-child(3){ background-color:darkblue; color: white; }
.dashboard-heading{
    margin-left: 80px;
}